<%= javascript_include_tag 'jquery.pageless' -%>

<a class="volver-home-link" href="/home">&laquo; Volver a la página de búsquedas</a>

<h3 class="page-title">Consultas Realizadas</h3>

<table id="results" class="tabla" cellspacing="0">

	<% if @empresasconsultas.current_page == 1 %>
	<tr>
	    <th>Desc</th>
	    <th>Consultados</th>
	    <th>Resultados</th>
	    <th>SQL</th>
	    <th>Lanzada</th>
	    <th colspan="3">Acciones</th>
	 </tr>
	<% end %>
	
	<%= render(:partial => "empresasconsulta", :collection => @empresasconsultas) %>
	
</table>

<br />

<%= pageless(@empresasconsultas.total_pages, '/empresasconsultas2') %>