<b>Resultados busqueda: <%= @consulta.desc %></b>

<table class="tabla">
<tr>
  <th>Bazar</th>
  <th>Empresa</th>
  <th>Enlace</th>
</tr>	

<% for resu in @consulta.empresasresultados %>
<tr>
  <td>
	<%= Cluster::find_by_id(resu.cluster_id).nombre %>
  </td>
  <td>
	<%= resu.info %>
  </td>
  <td>
	<%= resu.enlace %>
  </td>
</tr>	
<% end%>

</table>
