<% if @perfiles.count == 0 %>
	<p>No tiene ningún perfil asociado a su empresa.</p>
	<p>Para encontrar el perfil que más se ajusta a su empresa, escriba una o varias palabras que defina el sector al que pertenece.</p>
	<p>Puede escoger tantos sectores como crea convenientes y actualizarlos en cualquier momento.</p>
<% else %>

	<% for perfil in @perfiles %>
		<strong><%=  perfil.codigo -%>:</strong>
		<%=  Bazarcms::Perfil.find_by_codigo(perfil.codigo).desc -%>
		<img src='/images/papelera.png' border='0' onclick="borra('<%= perfil.codigo-%>', '<%= perfil.tipo %>');">
		<br/>
	<% end %>
<% end %>

<script>

function borra (cod, tipo) {
	
	if (tipo == "O") {
		$('#missectores').load('/bazarcms/delperfil?tipo=O&codigo='+cod);
	}
	else {
		$('#misdemandas').load('/bazarcms/delperfil?tipo=D&codigo='+cod);
	}
	
}

</script>
