
<div id="cajabusqueda">
<div class="demo">

<b>Busqueda en empresas:</b><br/><br/>

<input id="busca" name="busqueda" size="30" type="text" />
<br />

	<style>
	#demo-frame > div.demo { padding: 1px !important; };
	</style>
	
	<script>
	<%= Bazarcms::Empresasdato.listaRE %>
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: maxRE,
			values: [ 0, maxRE ],
			slide: function( event, ui ) {
				$( "#empleados" ).val( "Entre: (" + listaRE[ui.values[ 0 ]] + ") y (" + listaRE[ui.values[ 1 ]] + ")" );
				$( "#empleados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#empleados" ).val( "Todos");
		$( "#empleados2" ).val( "0+"+maxRE);
		
	});
	</script>

<table border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td width="350px">
			<label for="empleados">Nº Empleados:</label>
			<input type="text" size="35" id="empleados" style="border:0; color:#f6931f; font-weight:bold;" />
			<input type="hidden" id="empleados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
		<td width="200px">
			<div id="slider-range"></div>
		</td>
	</tr>
</table>


  <button>Buscar</button>
</div>

</div>

<br />

<div id="lista">

Introduzca el termino a buscar en empresas. <br />
Puede usar * para terminos parciales: herramientas* 

</div>

<script>
	$(function() {

		$("button", ".demo").button();
		$("button", ".demo").click(function() {
			$('#lista').html('Enviando peticiones a los bazares');
			// $('#lista').load('/bazarcms/enviabusqueda?q='+escape($("#busca").val()));
			s = $("#busca").val();
			if (s.length == 0) {
				s = '*';
			}
			s = s.replace(/ /g, "+");
			emple = $("#empleados2").val();
			$('#lista').load('/bazarcms/enviabusqueda?q='+s+'&qe='+emple);
			
			return false; 
		});
	});
</script>
