
<div id="cajabusqueda">
<div class="demo">

<b>Busqueda en empresas: </b>


<input id="busca" name="busqueda" size="30" type="text" />
<br />


	<style>
	#demo-frame > div.demo { padding: 1px !important; };
	</style>
	
	<script>
	<%= Bazarcms::Empresasdato.listaRE %>
	<%= Bazarcms::Empresasdato.listaRD %>
	
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: maxRE,
			values: [ 0, maxRE ],
			slide: function( event, ui ) {
				$( "#empleados" ).val( "Entre: " + listaRE[ui.values[ 0 ]] + " y " + listaRE2[ui.values[ 1 ]]  );
				$( "#empleados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#empleados" ).val( "Todos");
		$( "#empleados2" ).val( "0+"+maxRE);
		

		$( "#slider-range2" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#ventas" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#ventas2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		
		$( "#compras" ).val( "Todos");
		$( "#compras2" ).val( "0+"+maxRD);

		$( "#ventas" ).val( "Todos");
		$( "#ventas2" ).val( "0+"+maxRD);

		$( "#slider-range3" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#compras" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#compras2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});


		$( "#slider-range4" ).slider({
			range: true,
			min: 0,
			max: maxRD,
			values: [ 0, maxRD ],
			slide: function( event, ui ) {
				$( "#resultados" ).val( "Entre: " + listaRD[ui.values[ 0 ]] + " y " + listaRD2[ui.values[ 1 ]] );
				$( "#resultados2" ).val( ui.values[ 0 ] + "+" + ui.values[ 1 ] );
			}
		});
		$( "#resultados" ).val( "Todos");
		$( "#resultados2" ).val( "0+"+maxRD);

		
	});
	

	</script>

<table border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td width="350px">
			<label for="empleados">Nº Empleados:</label>
			<input type="text" size="35" id="empleados" style="border:0; color:#f6931f; font-weight:bold;" />
			<input type="hidden" id="empleados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
		<td width="200px">
			<div id="slider-range"></div>
		</td>
	</tr>
</table>

<table border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td width="350px">
			<label for="compras">Compras:</label>
			<input type="text" size="35" id="compras" style="border:0; color:#f6931f; font-weight:bold;" />
			<input type="hidden" id="compras2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
		<td width="200px">
			<div id="slider-range3"></div>
		</td>
	</tr>
</table>

<table border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td width="350px">
			<label for="ventas">Ventas:</label>
			<input type="text" size="35" id="ventas" style="border:0; color:#f6931f; font-weight:bold;" />
			<input type="hidden" id="ventas2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
		<td width="200px">
			<div id="slider-range2"></div>
		</td>
	</tr>
</table>



<table border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td width="350px">
			<label for="resultados">Resultados:</label>
			<input type="text" size="35" id="resultados" style="border:0; color:#f6931f; font-weight:bold;" />
			<input type="hidden" id="resultados2" style="border:0; color:#f6931f; font-weight:bold;" />
		</td>
		<td width="200px">
			<div id="slider-range4"></div>
		</td>
	</tr>
</table>

  <button>Buscar</button>
</div>

</div>

<br />

<div id="estado" style="display: none; width:550px;" >
	<style>
		.ui-progressbar-value { background-image: url(/images/pbar-ani.gif); }
	</style>
	<script>
		$(function() {
			$( "#progressbar" ).progressbar({ value: 0});
		});
	</script>
	<div id="progressbar" style="display: none"></div>
	<br/>
	<div id="estadotexto" style="display: none"></div>
</div>

<div id="resultados">
</div>

<div id="lista">

Introduzca el término a buscar en empresas. <br />
Puede usar * para términos parciales: herramientas* 

</div>

<script>
	$(function() {

		$("button", ".demo").button();
		$("button", ".demo").click(function() {
			$('#lista').html('Enviando peticiones a los bazares');
			// $('#lista').load('/bazarcms/enviabusqueda?q='+escape($("#busca").val()));
			s = $("#busca").val();
			if (s.length == 0) {
				s = '*';
			}
			s = s.replace(/ /g, "+");
			emple = $("#empleados2").val();
			ventas = $("#ventas2").val();
			compras = $("#compras2").val();
			resultados = $("#resultados2").val();
			
			$("#estado").show();
			$("#progressbar").show();
			$("#estadotexto").show();
			
			$("#estadotexto").html('Buscando ...');
			$.ajax({
			  async:true, 
			  url: '/bazarcms/enviabusqueda?q='+s+'&qe='+emple+'&qv='+ventas+'&qc='+compras+'&qr='+resultados,
			  success: function(data) {
			    $('#lista').html(data);
				clearInterval(actualiza);
				
				$('#progressbar').hide();
				$("#progressbar").progressbar({ value: 0});
				
				$('#estadotexto').hide();
				$("#estadotexto").html('');
				
				clearInterval(actualiza);
			  }
			});
			
			var actualiza = setInterval(function()
		    {
				$.get('/bazarcms/estadobusqueda', function(data) {
					$("#progressbar").progressbar({ value: (data[0].empresasconsulta.total_respuestas * 100) / data[0].empresasconsulta.total_consultas});
					$("#estadotexto").html(data[0].empresasconsulta.total_resultados +' Empresas de '+ data[0].empresasconsulta.total_respuestas +' Bazares');
				});
		     },1000);
			
			
			return false; 
		});
	});
</script>
