<script>
	$(function() {
		$( "#tabs2" ).tabs();
	});
</script>

<div class="directorio">

  <div id="tabs2">

	<ul>
  <% ultima = "" %>
  <% for empre in @empresas %>
	  <% if ultima != empre.nombre[0].chr %>
	    <% ultima = empre.nombre[0].chr %>

		    <li><a href="#tabs2-<%= empre.nombre[0].chr -%>"><%= empre.nombre[0].chr -%></a></li>
    <% end %>
  <% end %>
    </ul>

</div>

