<h1><%=t(:text_listado_de_rating)%></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= link_to t(:label_show), rating %></td>
    <td><%= link_to t(:label_edit), edit_bazarcms_rating_path(rating) %></td>
    <td><%= link_to t(:label_destroy), rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

