
<div id="publicar-paso3c" class="publicar-seccion">
	<br/>
		
	<h4><%=t(:text_su_oferta_ha_sida_enviada_a)%><%=  @oferta.total_empresas -%><%=t(:text_empresas)%></h4>

	<br/>	
	<br/>
	<br/>
	<a href="/"><%=t(:text_ir_a_la_p_gina_de_b_squedas)%></a>
	
</div>
