
<div id="publicar-paso3c" class="publicar-seccion">
	<br/>
		
	<h4><%=t(:text_su_oferta_ha_sido_enviada_a)%> <%=  @oferta.total_empresas -%> <%=t(:text_empresas)%></h4>

	<br/>	
	<br/>
	<br/>
	<a href="/"><%=t(:text_ir_a_la_pagina_de_busquedas)%></a>
	
</div>
