
<div id="publicar-paso3c" class="publicar-seccion">
	<br/>
		
	<h4>Su oferta ha sida enviada a <%=  @oferta.total_empresas -%> Empresas.</h4>

	<br/>	
	<br/>
	<br/>
	<a href="/">Ir a la página de búsquedas</a>
	
</div>
