<% cache "ofertasdash", {:expires_in => 10.minutes.to_i} do %>

<h3 class="page-title"><%=t(:text_ultimas_ofertas_demandas)%></h3>

<table class="tabla" cellspacing="0">

<%= render :partial => 'oferta', :collection => @ofertas %>

</table>

<% if @total > 5 %>
	<%= link_to("Ver más Ofertas/Demandas (#{@total-5}+) &raquo;".html_safe, bazarcms_ofertas_path, :class => "volver-home-link") %>

<% end %>

<% end %>